<% if @article.bookmarked_by?(current_user) %>
<div>
  <%= link_to article_bookmarks_path(@article), method: :delete, remote: true do %>
  <i class="fas fa-star fa-2x" style="color:gold;"></i>
  <% end %>
</div>
<% else %>
  <%= link_to article_bookmarks_path(@article), method: :post, remote: true do %>
  <i class="far fa-star fa-2x" style="color:lightslategray;"></i>
  <% end %>
<% end %>