<div class="container-fluid bg-light py-4">
 <div class="columns is-multiline">
  <div class="row">
     <div class="col-md-3"></div>
     <div class="col-md-8">
       
      <div class="d-flex flex-wrap ">
        <% @articles.each do |t| %>
          <div class="my-box w-25 border">
          <%= t.title %><br />
          <%= t.body %><br />
          <%= link_to "詳細", articles_path, class: "btn btn-outline-secondary mt-2" %>
          </div> 
        <% end %>
      </div>
      
     </div>  
   </div>
  </div>
</div>