<div class="container-fluid bg-light py-5">
 <div class="columns is-multiline">
  <div class="row">
    <div class="col-md-8 offset-md-2">
<h2>フォロワー</h2>
<% if @users.exists? %>
  <%= render '/users/index', users: @users %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>
    </div>
   </div>
  </div> 
</div> 