<div class="container-fluid py-5">
 <div class="columns is-multiline">
  <div class="row">
    <div class="col-md-8 offset-md-2">
<h2>フォロー中</h2>
<% if @users.exists? %>
  <%= render '/users/index', users: @users %>
<% else %>
  <p>フォロー中のユーザーはいません</p>
<% end %>
    </div>
   </div>
  </div>
</div>