<div class="container-fluid py-5">
 <div class="columns is-multiline">
  <div class="row">
    <div class="col-md-8 offset-md-2">

<% notifications = @notifications.where.not(visitor_id: current_user.id) %>

<% if notifications.exists? %>
  <%= render notifications %>
  <%= paginate notifications %>
<% else %>
  <h4>通知はありません</h4>
<% end %>

      </div>
    </div>
  </div>
</div>