<h3>お問い合わせ内容</h3>

------------------------------------------------

<p>nickname: <%= @inquire.nickname %>さん</p>

<p>email: <%= @inquire.email %></p>

<p>content: <%= @inquire.body %></p>

------------------------------------------------