<header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">Let's be investors!</h1>
      <h3 class="mb-5">
        <em>Post your company analysis!</em>
      </h3>
      <% if user_signed_in? %>
      <%= link_to "投稿一覧へ", articles_path, class: "btn btn-primary" %>
      <% else %>
      <%= link_to "LOGIN", new_user_session_path, class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="overlay"></div>
  </header>

  <section class="content-section bg-info text-white text-center" id="services">
    <div class="container">
      <div class="content-section-heading">
        <h1 class="text-secondary mb-0">Services</h1>
        <h2 class="mb-5">What We Offer</h2>
      </div>

  <div class="row">
         <div class="col-lg-4 col-md-6 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="fas fa-pencil-alt fa-2x"></i>
          </span>
          <h4>
            <strong>Post</strong>
          </h4>
            <p class="text-faded mb-0">記事を投稿しよう！</p>
        </div>

        <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="fas fa-thumbs-up fa-2x"></i>
          </span>
          <h4>
            <strong>Favorited</strong>
          </h4>
          <p class="text-faded mb-0">気に入った投稿に
            <i class="fas fa-heart"></i>
          をしよう!</p>
        </div>

        <div class="col-lg-4 col-md-3 mb-2 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="far fa-comment fa-2x"></i>
          </span>
          <h4>
            <strong>Responsive</strong>
          </h4>
          <p class="text-faded mb-0">気になる投稿にコメントしよう!</p>
        </div>

