// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p{
    word-break:break-all;
}

.rank {
    width: 100%;
    position: relative;
    border: #FF0000;
    top: 5%;
    left: 5%;
}

select::-ms-expand {
	display: none;
}
select {
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin-bottom: 20px;
    padding: 10px 25px 10px 10px;
	font-size: 100%;
	color: #808080;
	line-height: 1.1em;
	border-radius: 5px;
	border: none;
	background: image-url('icon_arrow.png');
	background-repeat: no-repeat;
	background-size: 12px 10px;
	background-position: right 10px center;
	background-color: #ffffff;
}

.item_image_btn{
    display: none;
}

#img_field {
  font-size: 18px;
  font-style: inherit;

  color: white;
  background-color: #5bc0de;
  border-radius: 5px;
  width: 243px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  top: 10px;
}