  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h3 class="mb-1">お問い合わせありがとうございます！</h3></br>
      <h5>ご回答までしばらくお待ちください！</h5>
      <h3 class="mb-5">
        <em>Thank you for your inquiry!</em>
      </h3>
        <%= link_to "TOPに戻る", articles_path, class: "btn btn-primary mt-2" %>
    </div>
  </div>
