<%= form_with model: @article, url:'/articles', local:true do |f| %>
          <% if @article.errors.any? %>
             <% @article.errors.full_messages.each do |message| %>
               <div style="color:red;"><%= message %></div>
             <% end %>
          <% end %>
<% end %>