 <%= link_to notifications_path, method: :get do %>
      <% if unchecked_notifications.any? %>
            <span class="fa stack">
                <i class="far fa-bell fa-2x" style="color:gainsboro;"></i>
                <i class="fas fa-exclamation-circle n-circle fa-stack-1x"></i>
            </span>
      <% else %>
                <i class="far fa-bell fa-2x" style="color:gainsboro;"></i>
      <% end %>
 <% end %>